<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/css/siteHome.css" />

    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <form action="voltarAdmin">
          <button style="font-size: 20px" class="nav-link">UrbanAlert</button>
        </form>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse"
          id="navbarNavDropdown"
          style="justify-content: end"
        >
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                USUARIOS
              </a>
              <ul
                style="background-color: #1e1e2d"
                class="dropdown-menu dropdown-menu-end"
              >
                <li>
                  <form action="criarPessoaAdmin">
                    <button
                      type="submit"
                      style="color: white"
                      class="dropdown-item"
                    >
                      CRIAR PESSOA
                    </button>
                  </form>
                </li>
                <li>
                  <form action="criarEmpresaAdmin">
                    <button style="color: white" class="dropdown-item">
                      CRIAR EMPRESA
                    </button>
                  </form>
                </li>
                <li>
                  <form action="listarPessoaAdmin">
                    <button style="color: white" class="dropdown-item">
                      LISTAR PESSOA
                    </button>
                  </form>
                </li>
                <li>
                  <form action="listarEmpresaAdmin">
                    <button style="color: white" class="dropdown-item">
                      LISTAR EMPRESA
                    </button>
                  </form>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                OCORRENCIAS
              </a>
              <ul
                style="background-color: #1e1e2d"
                class="dropdown-menu dropdown-menu-end"
              >
                <li>
                  <form action="ocorrenciaAdmin">
                    <button
                      type="submit"
                      style="color: white"
                      class="dropdown-item"
                    >
                      CRIAR OCORRENCIAS
                    </button>
                  </form>
                </li>
                <li>
                  <form action="listarOcorreAdmin">
                    <button style="color: white" class="dropdown-item">
                      VISUALIZAR OCORRENCIAS
                    </button>
                  </form>
                </li>
              </ul>
            </li>
            <a
              href="{{ url_for('sair') }}"
              class="nav-link"
              role="button"
              aria-expanded="false"
            >
              SAIR
            </a>
          </ul>
        </div>
      </div>
    </nav>
    <form action="encontrarEmpresa" method="post" style="margin-top: 10px">
      <div class="row">
        <div class="col-12" style="text-align: center">
          <input
            style="border-radius: 7px; height: 40px"
            class="me-2"
            type="text"
            id="procurarCnpj"
            name="procurarCnpj"
            placeholder="Digite o CPF"
          />
          <button class="btn btn-outline-danger" type="submit">Search</button>
        </div>
      </div>
      {% if empresaEncontrado %}
      <table class="table table-dark" style="margin-top: 10px">
        <thead>
          <tr>
            <th scope="col">nomeEmpresa</th>
            <th scope="col">responsavelEmpresa</th>
            <th scope="col">cnpj</th>
            <th scope="col">telefone</th>
            <th scope="col">endereco</th>
            <th scope="col">email</th>
            <th scope="col">senha</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ empresa.nomeEmpresa }}</td>
            <td>{{ empresa.responsavelEmpresa }}</td>
            <td>{{ empresa.cnpj }}</td>
            <td>{{ empresa.telefone }}</td>
            <td>
              {{ empresa.endereco }}, {{ empresa.cidade }}, {{ empresa.estado }}
            </td>
            <td>{{ empresa.email }}</td>
            <td>{{ empresa.senha }}</td>
          </tr>
        </tbody>
      </table>
      {% endif %}
    </form>

    {% if dadosEmpresa %}
    <table class="table table-dark" style="margin-top: 10px">
      <thead>
        <tr>
          <th scope="col">nomeEmpresa</th>
          <th scope="col">responsavelEmpresa</th>
          <th scope="col">cnpj</th>
          <th scope="col">telefone</th>
          <th scope="col">endereco</th>
          <th scope="col">email</th>
          <th scope="col">senha</th>
        </tr>
      </thead>
      {% for empresa in dadosEmpresa %}

      <tbody>
        <tr>
          <td>{{ empresa.nomeEmpresa }}</td>
          <td>{{ empresa.responsavelEmpresa }}</td>
          <td>{{ empresa.cnpj }}</td>
          <td>{{ empresa.telefone }}</td>
          <td>
            {{ empresa.endereco }}, {{ empresa.cidade }}, {{ empresa.estado }}
          </td>
          <td>{{ empresa.email }}</td>
          <td>{{ empresa.senha }}</td>
        </tr>
      </tbody>

      {% endfor %}
    </table>
    {% endif %}
  </body>
</html>
